@font-face {
    font-family: "bangers";
    src: url("../fuentes/bangers/Bangers.ttf");
  
    font-family: "effloresce";
    src: url(../fuentes/effloresce/effloresce.otf);
  
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:wght@400;700&display=swap');