
.tituloc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .formulario {
    text-align: left;
  }
  .obligatorio {
    color: red;
  }
  .aviso {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }

  form {
    width: 80%;
    margin: 0 auto;
    border: 2px solid $marroneve;
    padding: 20px;
    border-radius: 5px;
  
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $marroneve;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
  border-color: $marroneve;
  box-shadow: 0 0 5px #66afe9;
}

button[type="submit"] {
    background-color: $rosaeve;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #3f6641;
  }

